<h2>Atualizar História</h2>
<form #storyForm="ngForm" (ngSubmit)="updateStory(storyForm.value)">
  <input type="hidden" ngModel name="id" [value]="storyId">

  <!-- Campo Título -->
  <div class="form-field">
    <mat-form-field appearance="fill">
      <mat-label>Título</mat-label>
      <input matInput ngModel name="title" required>
    </mat-form-field>
  </div>

  <!-- Campo Descrição -->
  <div class="form-field">
    <mat-form-field appearance="fill">
      <mat-label>Descrição</mat-label>
      <textarea matInput ngModel name="description" required></textarea>
    </mat-form-field>
  </div>

  <!-- Campo Departamento -->
  <div class="form-field">
    <mat-form-field appearance="fill">
      <mat-label>Departamento</mat-label>
      <input matInput ngModel name="department" required>
    </mat-form-field>
  </div>

  <!-- Botões de Ação -->
  <div class="form-button">
    <button mat-raised-button color="primary" type="submit" [disabled]="!storyForm.valid">Atualizar História</button>
    <button mat-raised-button color="secondary" (click)="goToHome()">Voltar</button>
  </div>
</form>

<!-- Mensagem de Sucesso -->
<div *ngIf="showSuccessMessage" class="success-message">
  História atualizada com sucesso!
</div>
