<h2>Atualizar História</h2>
<form #storyForm="ngForm" (ngSubmit)="updateStory()">
  <div class="form-field">
    <mat-form-field appearance="fill">
      <mat-label>ID</mat-label>
      <input matInput [(ngModel)]="story.id" name="id" disabled>
    </mat-form-field>
  </div>

  <div class="form-field">
    <mat-form-field appearance="fill">
      <mat-label>Título</mat-label>
      <input matInput [(ngModel)]="story.title" name="title" required>
    </mat-form-field>
  </div>

  <div class="form-field">
    <mat-form-field appearance="fill">
      <mat-label>Descrição</mat-label>
      <textarea matInput [(ngModel)]="story.description" name="description" required></textarea>
    </mat-form-field>
  </div>

  <div class="form-field">
    <mat-form-field appearance="fill">
      <mat-label>Departamento</mat-label>
      <input matInput [(ngModel)]="story.department" name="department" required>
    </mat-form-field>
  </div>

  <div class="form-button">
    <button mat-raised-button color="primary" type="submit" [disabled]="!storyForm.valid">Atualizar História</button>
    <button mat-raised-button color="secondary" (click)="goToHome()">Voltar</button>
  </div>
</form>

<div *ngIf="showSuccessMessage" class="success-message">
  História atualizada com sucesso!
</div>
