.user-form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  mat-form-field {
    width: 100%;
  }
  
  button {
    margin-top: 20px;
  }
  
  .user-added-success {
    color: green;
    margin-top: 15px;
    text-align: center;
  }
  
  .form-button {
    display: flex;
    justify-content: center; /* Centraliza os botões horizontalmente */
    gap: 20px; /* Espaço entre os botões */
  }
  