/* Estilização geral da lista de histórias */
.page-title {
    text-align: center;
    margin: 20px 0;
    color: #333;
    font-size: 50px;
  }
  

.story-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Espaçamento entre os cartões */
    justify-content: center; /* Centraliza os cartões */
    margin-bottom: 30px; /* Espaçamento antes do botão de adicionar nova história */
  }
  
  /* Estilização dos cartões de história */
  .story-card {
    width: calc(25% - 20px); /* Calcula a largura para 4 colunas com espaçamento */
    min-width: 300px; /* Largura mínima para garantir a legibilidade */
    position: relative; /* Necessário para posicionar o sumário de votos */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para dar impressão de flutuação */
    transition: transform 0.3s ease; /* Transição suave ao passar o mouse */
    border-radius: 8px; /* Borda arredondada */
  }
  
  .story-card:hover {
    transform: translateY(-5px); /* Levanta o cartão ao passar o mouse */
  }
  
  /* Sumário de votos no canto do cartão */
  .vote-sum {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #f0f0f0;
    padding: 5px;
    border-radius: 50%;
    font-weight: bold;
  }
  
  /* Ajustes do cabeçalho do cartão */
  mat-card-header {
    align-items: center;
  }
  
  /* Organização e estilização dos botões de ação */
  mat-card-actions {
    display: flex;
    justify-content: space-between;
  }
  
  /* Estilos para botões de votos positivos e negativos */
  .vote-positive {
    background-color: #4CAF50;
    color: white;
  }
  
  .vote-negative {
    background-color: #F44336;
    color: white;
  }
  
  /* Efeito ao passar o mouse sobre os botões */
  .vote-positive:hover, .vote-negative:hover {
    opacity: 0.8;
  }
  
  /* Aviso de voto bem-sucedido */
  .vote-success {
    text-align: center;
    color: #4CAF50;
    font-weight: bold;
    margin-bottom: 20px; /* Espaçamento abaixo do aviso */
  }
  
  /* Botão fixo para adicionar nova história */
  .add-story-button {
    position: fixed;
    bottom: 20px; /* Distância do rodapé */
    left: 50%; /* Centraliza horizontalmente */
    transform: translateX(-50%); /* Ajuste fino para centralização exata */
    z-index: 100; /* Garante que o botão fique acima de outros elementos */
  }
  
  .form-button {
    display: flex;
    justify-content: center; /* Centraliza os botões horizontalmente */
    gap: 20px; /* Espaço entre os botões */
  }
  
  .page-container {
    position: relative;
    /* Outras propriedades de estilo conforme necessário */
  }
  
  .filter-section {
    position: absolute;
    top: 80px; /* Ajuste conforme necessário */
    right: 20px; /* Ajuste conforme necessário */
  }
  
  